@media (min-width: 1170px) {
    .container-fluid {
        width: 1170px;
    }
    .navbar {
        height: 64px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
    }
    .introduce {
        width: 730px;
        margin: 0 auto;
    }
    .navbar-default .navbar-brand {
        line-height: 64px;
    }
    .navbar-default .navbar-nav>li>a {
        line-height: 64px;
        padding: 0 15px;
    }
    .author-title .h2 {
        width: 200px;
        margin: 15px auto;
        padding: 0 0 20px 0;
    }
    .author-title .h2::after {
        left: 60px;
        bottom: 0;
        width: 80px;
        border-bottom: 5px solid #E87E04;
    }
    .author-img img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        margin: 50px auto 0;
    }
}
@media (min-width: 414px) and (max-width: 1170px) {
    .navbar {
        height: 50px;
    }
    .navbar-default .navbar-brand {
        line-height: 50px;
    }
    .author-img img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        margin: 50px auto 0;
    }
}
@media (max-width: 414px){
    .navbar {
        margin-bottom: 0;
    }
    .navbar-nav {
    background: #2c3e50;
    }
    .navbar-default .navbar-brand {
        line-height: 50px;
    }
    .author-title .h2 {
        width:100%;
        font-size: 22px;
        margin: 30px auto;
        padding: 0 0 10px 0;
    }
    .author-title .h2::after {
        width: 50px;
        display: block;
        left: 43%;
        bottom: -5px;
        border-bottom: 3px solid #E87E04;
    }
    .author-img img {
        width: 150px;
        height: 150px;
        border-radius: 200px;
        margin: 20px auto 0;
    }
    .introduce .btn {
        margin: 20px auto;
        width: 100%;
        height: 40px;
    }
    .introduce .btn a {
       display: block;
    }
}