body {
    margin: 0;
}
#header {
    height: 50px;
    width: 100%;
}

#container {
    background: url(../img/background/bg1.jpg) no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

#fullScreen {
    float: right;
    margin: 5px;
    background: url(../img/icon/layout.png) no-repeat;
    background-position: -198px -4px;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #header {
        display: none;
    }
}

.thumbnail{
    background: rgba(0, 0, 0, 0.5);
    border:  none;
    padding-bottom: 0;
}
.thumbnail .caption{
    padding-bottom: 0;
}
.caption h4{
    cursor: pointer;
    margin: 0;
    padding: 0;
}